.viewport {
  max-width: 720px;
  margin: 0 auto
  position: relative
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline
}

body {
  line-height: 1
  font-size .24rem
}

ol,ul {
  list-style: none
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
li {
  position: relative;
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle
}

caption,th,td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle
}

a img {
  border: none
}

input,textarea,button {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  border-radius: 0;
  outline: 0
}

input[type="checkbox"] {
  -webkit-appearance: checkbox
}

input[type="radio"] {
  -webkit-appearance: radio
}

textarea {
  outline: none;
  resize: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,main {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline
}

audio,canvas,video {
  display: inline-block;
}

audio:not([controls]),[hidden] {
  display: none
}

a {
  cursor: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent
  display: block
  color: inherit
}

.clear {
  clear: both
}

.clearfix:after {
  display: block;
  clear: both;
  height: 0;
  content: ''
}
.page,
.page > .viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
  overflow-y: scroll;
  height: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}
#pageLoading{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff url('../images/loading-new.gif') no-repeat center center;
  background-size: 1.36rem auto;
}
.router-link{
  width 6.4rem
  position fixed
  bottom 0
  left 0
  border-top 1px solid #cfcbca
  z-index 9999
  a{
    width 1.6rem
    float left
    height .95rem

    background #f4f0ef
    position relative

    .bgImg1{
      background url('../images/index/bomb.png') no-repeat
    }
    .bgImg2{
      background url('../images/index/clock.png') no-repeat
    }
    .bgImg3{
      background url('../images/index/coin.png') no-repeat
    }
    .bgImg4{
      background url('../images/index/mario.png') no-repeat
    }
    .bgImg{
      position absolute
      width .4rem
      height .4rem
      left .6rem
      top .1rem
      background-size 100%
    }
    .title{
      text-align center
      line-height 1.4rem
      font-size  .24rem
      color #373536
    }
  }
  .router-link-active{
    .title{
      color #f75555
    }
  }
}
.slider{
  width 6.4rem
  height 2rem
  overflow hidden
  position relative
  ul{
    width 100%
    height 100%
    position relative
    li{
      width 6.4rem
      float left
      img{
        width 100%
        height 2rem
      }
    }
  }
}
.ols{
  position absolute
  bottom .2rem
  right 1rem
  li{
    float left
    width .12rem
    height .12rem
    margin-right .2rem
    background #fff
    border-radius 50%
  }
  .lis{
    background red
  }
}
.ulss{
  display -webkit-flex
  -webkit-flex-direction column-reverse
  flex-wrap: nowrap
  justify-content: center
}
#uiPopFrame{
  position fixed
  left 0
  top 0
  width 100%
  height 100%
  background-color: rgba(0,0,0,0.5)
  z-index 99999
  .ui-pop-main{
    position absolute
    left 50%
    top 50%
    border-radius 0.1rem
    overflow hidden
    -webkit-transform translate(-50%, -50%)
    transform translate(-50%, -50%)
    width 5.3rem
    background-color #fff
    .ui-pop-cont{
      text-align: center !important;
      color: #666;
      font-size: 0.28rem !important;
      padding: 0.7rem 0.35rem;
      line-height: 1.5;
    }
    .ui-pop-operation{
      border-top: 1px solid #ccc;
      display: table;
      width: 100%;
      height: 100%;
      table-layout: fixed;
      a{
        display: table-cell;
        text-align: center;
        line-height: 0.9rem;
        font-size: 0.32rem;
        color: #f07e68;
      }
    }
  }
}